# NetBeans Specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

*.xls
*.xlsx
*.docx
*.doc
*.xml

src/config/
src/data_src/
src/result/